<!DOCTYPE html>
<html lang="en">
<head id="headId">
    <meta charset="UTF-8">
    <title>Game</title>
</head>
<body>
    <div align="center">
        <h1 id="game-title">Guess the Number Game</h1>
        <h3 id="main-message">
            Main Message Content
        </h3>
        <h3 id="result-message">
            Result Message Content
        </h3>

        <form id="game-form"
              action="play"
              method="post">
            <label id="enter-guess" for="guess">Enter your guess</label>
            <input id="guess" type="number" name="guess"/>
            <input id="submit" type="submit" value="Submit"/>
        </form>

        <footer id="footerId">
            <p>Created by goes here</p>
        </footer>

    </div>
</body>
</html>